/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* VARIABLES
/*******************************************/

$border-color: black;
$outer-border: 3px solid $border-color;
$inner-border: 1.5px solid $border-color;
$main-txt-color: #FAF3DD;
$number-bgr: #757083;
$action-bgr: #8A95A5;
$display-bgr: #474056;

/******************************************
/* BASE STYLES
/*******************************************/

#keyboard{
    text-align: center;
}
*{
    color: $main-txt-color;
}

body *{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
}

/******************************************
/* LAYOUT
/*******************************************/
#keyboard{
    display: flex;
    width: 70%;
    height: 500px;
    font-size: 60px;
    margin: auto;
    margin-top: 100px;
    
    ul{
        display: flex;
        flex: 1;
        flex-wrap: wrap;

        .number,
        .action,
        #clear, 
        .special{
            flex: 0.5;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .number, 
        .special{
            flex-basis: 33%;
        }
    }
    #actions{
        flex-direction: column;
        flex: 0.3;
        margin-left: 50px;
    }
}

#display{
    width: 100%;
    display: flex;
    margin: 100px auto 0;
    #mainResult{
        flex: 1;
        color: rgb(243, 243, 243);
        text-align: right;
        font-size: 100px;
        background-color: $display-bgr;
        border: 15px solid black;
        caret-color: transparent;

        &::placeholder{
            color: rgb(243, 243, 243);
        }        
    }
}




/******************************************
/* MODULE
/*******************************************/

/* Remove arrows and scroll on input type="number" */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
/*The hack ends here*/

#del {
    color: $main-txt-color;
    display: flex;
    margin: 0 15px;
    
    font-size: 70px;
    background-color: $action-bgr;
    align-items: center;
    justify-content: center;
    border: $inner-border;

}
.number,
.special{
    background-color: $number-bgr;
    border: $inner-border;
}

.topRow{
    border-top: $outer-border
}
.botRow{
    border-bottom: $outer-border;
}
.leftCol{
    border-left: $outer-border
}
.rightCol{
    border-right: $outer-border;
}

.action, 
#clear{
    background-color: $action-bgr;
    flex-basis: 100%;
    border: $inner-border;
}
.action:not(.action:first-child){
    border-top: none;
}

li, #del{
    border-radius: 10px;
}


/******************************************
/* STATE
/*******************************************/






/******************************************
/* OTHER STYLES
/*******************************************/